.kart-container .fiyat {
    margin-left: 165px;
    margin-bottom: -30px;
 }

 .filter-form {
    margin-bottom: 20px;
}

.filter-form label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-form button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-form button:hover {
    background-color: #0056b3;
}